<!DOCTYPE html>
<html ng-app="App">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="Angularstyles.css">
    <title></title>
  </head>
  <body>

<div class="container" ng-controller="FormController as test">
  <form>
    <h1>TODO List</h1>
    <p> A place to store the things you have to do!</p>
     <input type="text" placeholder="Filter your to-dos"  ng-model="taskFilter">
     <ul>
       <li ng-repeat="task in test.addTask" > {{ task }} <a ng-click=test.removeTask($index) href="">X</a></li>
     </ul>
     <input type="text" placeholder="Add your to-do"  ng-model="addTask"><br>
     <button type="button" name="button" ng-click="test.addTask($index)">Add</button>
  </form>
</div>


  <script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <script src="module.js"> </script>
  <script src="controller.js"></script>
  </body>
</html>
